html, body {
    height: 100%;
    margin: 0; /* Important: removes default browser margins */
    padding: 0; /* Important: removes default browser padding */
    border: 3px color(srgb rgb(198, 18, 18) green blue);
}
.apple{
    width: 794px;
  min-height: 990px;
    box-shadow: outset 3px 5px 6px 4px red;
    margin: auto;
    background-image: url("/event/party6.avif");
     
    background-repeat: no-repeat;
    background-position: center;

    backdrop-filter: brightness(0.50%) contrast(50%) opacity(.666) ;
   
    box-shadow: outset 3px 3px 2px 5px red  ;
    background-size: cover;
}

body{
    background-color: rgb(217, 208, 208);
    

}
p{
    padding-left: 25px;
    font-size: 20px;
     margin-top: 0;
     margin-bottom: 0;
    line-height: 1.2;
    color:rgb(28, 168, 49);
}
h1{
     margin-top: 0;
     margin-bottom: 0;
    
     padding-left: 25px;
    font-size: 100px;
   line-height: 1.1;
   color: rgb(10, 19, 194);
}
h2{
     padding-left: 25px;
    font-style: italic;
    line-height: 0.01;
    font-size: 30px;
     margin-top: 10px;

}
#one{
     padding-left: 25px;
    margin-bottom: 29px;
    
    line-height: 1.1;
    font-style: oblique;
}
#two{
    padding-left: 25px;
      color:  rgb(226, 12, 102);
    margin-bottom: 0;
    line-height: 1;
    font-style: normal;
    font-size: large;

}
.three{
    padding-left: 25px;
    font-size: xx-large;
    margin-bottom: 0px;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: rgb(26, 166, 217);
    color: grey;
    font-size: 50px;
    text-decoration-thickness: 3px;
    line-height: 1;

}
#four{
    color: yellow;
    padding-left: 25px;
    font-weight: bold;
    line-height: 1.4;
    font-size: 22px;
    margin-top: 11px;

}
.five{
     
    margin-top: 55px;
    color:  rgb(226, 12, 102);
    padding-left: 25px;
    line-height: 1;
    
}
.center-box{
     padding-left: 25px;
    margin-top: 200px;
    text-align: center;
    
}
input{
     padding-left: 25px;
    padding: 2px;
    
    background-color: rgb(230, 230, 238);
    text-decoration-color: azures;
    margin-bottom: 25px;
    align-self: center;
    box-shadow: 0px 2px 3px 1px 4px black;
}
button{
     padding-left: 25px;
    padding: 3px;
    
    margin-bottom: 0.1px;
    background-color: rgb(112, 112, 200);
    text-decoration-color: azures;

    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

